@font-face {
  font-family: "Circular";
  src: url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.eot%22");
  src: url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.eot?#iefix%22")
      format("embedded-opentype"),
    url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.woff%22")
      format("woff"),
    url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.ttf%22")
      format("truetype");
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: "Circular", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

svg {
  width: 200px;
  height: 66.66px;
  margin: 0 auto;
}
.logo {
  margin: 0px 0px 30px;
  padding: 25px 0px 10px;
  border-bottom: 1px solid rgb(199, 198, 198);
}
.wrapper {
  width: 450px;
  height: 725px;
  margin: 0 auto;
}

a.button-fb {
  padding: 14px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 30px;
  background-color: #3b5998;
}
a.button-ap {
  background-color: #000000;
  padding: 14px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 30px;
}
a.button-gg,
a.button-num,
a.button-link {
  padding: 14px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 30px;
  background-color: #ffffff;
  color: #616467;
  border: 2px solid #616467;
}

a.button-ap:hover {
  background-color: black;
  opacity: 0.8;
}

a.button-link:hover,
a.button-gg:hover,
a.button-num:hover {
  background-color: #616467;
  border: 2px solid #616467;
}
.button-wrapper {
  margin-bottom: 10px;
}

.divider {
  border-top: 1px solid #d9dadc;
  display: block;
  line-height: 1px;
  margin: 15px 0;
  position: relative;
  text-align: center;
}
strong.divider-title {
  background: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 0 20px;
}
#fab-icon {
  margin: 0px 14px 0px 0px;
}

a.password-rem {
  color: #616467;
}
a.password-rem:hover {
  color: #15883e;
}
/* The container */
.checkwrapper {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

/* Hide the browser's default checkbox */
.checkwrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.checkwrapper input:checked ~ .checkmark {
  background-color: #15883e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkwrapper input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkwrapper .checkmark:after {
  left: 6px;
  top: 5px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
